<link rel="stylesheet" href="{{ '/assets/css/custom-styles.css' | relative_url }}">


<section class="projects">
  
  <p class="intro" >I am an experimental physics PhD candidate at Rutgers University, 
    specializing in neutrino experiments. Neutrinos are the most elusive particles 
    ever discovered in our universe, and they barely interact with matters.
    At Fermilab, neutrinos can be produced using accelerators and
    be studied using Liquid Argon Time Projection Chambers (LArTPCs).
    My researches combine large-scale detector commissioning, data analysis,
    simulation, and machine learning to search for rare signals in two LArTPCs: MicroBooNE and SBND.
  </p>

  <h2>Selected Projects</h2>
  <p class="description">
    My PhD work:
  </p>

  <div class="projects-grid">

    <div class="project-card">
      <img src="{{ '/assets/img/ubaxion.png' | relative_url }}" alt="Project 3">
      <div class="project-card-content">
        <h3>Data Driven Rare Signal Search</h3>
        <p>
          Set world-leading limits on the heavy QCD axion 
          with machine learning method and comprehensive systematic evaluation 
          using neutrino data collected by the MicroBooNE detector.
        </p>
        <a href="">
          Results available soon →
        </a>
        <!-- <a href="/project3"
          target="_blank"
          rel="noopener noreferrer">
          Learn more →
        </a> -->
      </div>
    </div>

    <div class="project-card">
      <img src="{{ '/assets/img/DiphotonDecay.png' | relative_url }}" alt="Diphoton decay">
      <div class="project-card-content">
        <h3>Method Driven Rare Signal Search</h3>
        <p>
          Estimate the BSM model sensitivity using statistical inference 
          with newly reconstructed neutrino detector, SBND. 
          Invent novel pseudo-reconstruction method for rapid event 
          reconstruction to quickly scan mass range 
          spanning 2 orders of magnitudes. 

        </p>
        <a href="https://indico.cern.ch/event/1493037/contributions/6562740/attachments/3122652/5537632/KengLin_SBND_BSM_LeptonPhoton2025.pdf"
          target="_blank"
          rel="noopener noreferrer">
          Learn more →
        </a>
      </div>
    </div>

    <div class="project-card">
      <img src="{{ '/assets/img/CRT.jpg' | relative_url }}" alt="Project 2">
      <div class="project-card-content">
        <h3>SBND CRT subsystem Installation and Commissioning</h3>
        <p>
          Install and commission of the SBND CRT subsystem at Fermilab.
          CRT is a solid plastic Scintillator-based Tagger that are designed to label
          the cosmic muons for background rejection purpose.
        </p>
        <a href="https://link.springer.com/article/10.1140/epjc/s10052-024-13306-3"
        target="_blank"
          rel="noopener noreferrer">
          Learn more →
        </a>
      </div>
    </div>


    
  </div>
</section>